* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: white;
  font-family: "AppleSDGothicNeo", Helvetica, sans-serif;

  * {
    font-family: inherit;
  }
}
