* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: rgb(249, 249, 251);
}

body {
  font-family: "AppleSDGothicNeo", Helvetica, sans-serif;

  * {
    font-family: inherit;
  }
}

html,
body {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
