// TODO: button-base에 대한 상세 구현이 필요합니다.
// - 기능 구현에 먼저 집중합니다.
// - 현재는 기본적인 구현 방식을 보여주기 위한 예시입니다.

@mixin button-base {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    box-shadow: var(--common-button-focus-outline);
    outline: 0;
  }

  &:active {
    background: var(--common-button-);

    &::after {
      border: none;
      box-shadow: none;
    }
  }
}
