@use "~@/styles/_variables" as variables;
@use "~@/styles/_common" as common;

.main {
  outline: none;
  border: none;

  min-width: var(--button-container-size, 50px);
  height: var(--button-container-size, 50px);

  background-color: var(
    --button-container-bg-color,
    #{variables.$token-color-purple}
  );
  color: var(--button-label-color, #{variables.$token-color-white});

  border-radius: var(--button-container-border-radius, 25px);

  padding: 0 var(--button-container-padding-x, 0);
  margin: 0;
}

.fit-container {
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  & > *:not(:first-child) {
    margin: 0px 0px 0px #{variables.$token-spacing-xxs};
  }

  .icon {
    display: inline-flex;
  }

  .label {
    display: inline-flex;
  }
}

// 버튼의 Variant 외형을 결정합니다.
.variant-solid {
  --button-container-bg-color: #{variables.$token-color-purple};
  --button-label-color: #{variables.$token-color-white};

  @include common.hover-without-touchdevice {
    --button-container-bg-color: #{rgba(variables.$token-color-purple, 0.8)};
  }

  &:active {
    --button-container-bg-color: #{rgba(variables.$token-color-purple, 0.6)};
  }

  &:disabled,
  &.loading {
    opacity: 0.8;
    --button-container-bg-color: #{rgba(variables.$token-color-purple, 0.4)};
  }
}

.variant-ghost {
  --button-container-bg-color: transparent;
  --button-label-color: #{variables.$token-color-white};

  @include common.hover-without-touchdevice {
    --button-container-bg-color: #{rgba(
        variables.$token-color-battleship-grey,
        0.2
      )};
  }

  &:active {
    --button-container-bg-color: #{rgba(
        variables.$token-color-battleship-grey,
        0.6
      )};
  }

  &:disabled,
  &.loading {
    opacity: 0.8;
    --button-container-bg-color: transparent;
  }
}

// 버튼의 크기에 따른 스타일를 정의합니다.
.size-small {
  --button-container-size: 32px;
  --button-container-padding-x: 4px;
  --button-container-border-radius: 4px;
}

.size-medium {
  --button-container-size: 50px;
  --button-container-padding-x: 6px;
  --button-container-border-radius: 25px;
}

// 버튼의 상태에 따른 스타일 정의합니다.
.main {
  cursor: pointer;
}

.main:disabled {
  cursor: not-allowed;
}

.main.loading {
  cursor: wait;
}

.main:focus-visible {
  box-shadow: 0 0 0 2px #{rgba(variables.$token-color-black, 0.8)};
}
