@use "~@/styles/_variables" as variables;
@use "~@/styles/_common" as common;

.main {
  display: inline-block;

  font-size: 0.688rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #{variables.$token-color-charcoal-grey};

  text-align: right;
  white-space: nowrap;

  opacity: 0.4;
}
