@use "~@/styles/_variables" as variables;
@use "~@/styles/_common" as common;

.main {
  display: inline-block;
}

.image-container {
  display: flex;
  width: 56px;
  height: 56px;

  border-radius: 100%;
  background-color: #{variables.$token-color-white};

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
  }
}
