@use "~@/styles/_variables" as variables;

.main {
  flex: 0 0 auto;

  position: fixed;
  top: 44px;
  left: 0;
  right: 0;

  z-index: 900;
  width: 100%;

  background-color: #{variables.$token-color-purple};

  overflow: hidden;
  will-change: height;
}
